@import '../../theme';

header {
    display: flex;
    flex-direction: column;

    hr {
        margin: 0 0 0.5em 0;
        border: none;
        border-top: 1px solid $highlight-color;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 1em;

    // behave like 'space-evenly' but with more browser compatibility (https://stackoverflow.com/a/47535338)
    &:before,
    &:after {
        content: '';
        display: block;
    }

    a {
        text-decoration: none;
        color: initial;
        padding: 0.3em;
        border: 1px solid transparent;
    }

    a:hover {
        border-color: $highlight-color;
    }

    a.active {
        text-decoration: underline;
        color: $highlight-color;
    }

    h1 {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: xx-large;
    }

    nav {
        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0.3em;
        }
    }
}

@media screen and (max-width: 600px) {
    .header-content {
        flex-direction: column;

        nav {
            align-self: stretch;
            margin: 1em 0 0.5em 0;

            ul {
                justify-content: space-around;
            }

            li {
                margin: 0;
            }
        }
    }
}
